.header a {   
	margin: 0;
    display: block;
    color: black; 
    text-align: left;
    vertical-align: center;
  /*  padding: 23px 13px 22px 13px; */
    text-decoration: none;
    transition: background 1.5s;
}

.header a:hover {
    background-color: #8fff89b3;   
     transition: background .7s; 
}

.header a:focus {
    background-color: #79b1dc;
    color: #ffffff;
    transition: background 2s;
    transition: color 3s;   
}

.active {
    background-color: #717171;
    color: white;
}



.section-info {
  background-color: #bdbdbd !important;
  color: #ffffff;
}
.section-info .background-image {
  opacity: 0.5;
}




/* Footer */
footer {
 
        
}


.sticky {
  /* overflow: hidden; */    
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      z-index: 1;
}


/* ------------------------------------------------------------------------------------------------*/
/* -------------------Responsive Header CSS--------------------------------------------*/

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  box-shadow: 50px #717171;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color:;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 700px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
  .sticky {
    /* overflow: hidden; */    
        position: relative; /* Set navbar to relative position, not 'sticky' on small screen */
      
    }
}
/* ------------------------------------------------------------------------------------------------*/
/* End of Responsive Header CSS---------------------------------------------------------------------*/









